@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Karla", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* header */

header {
  width: 100%;
  background-color: rgba(255, 239, 238, 255);
  color: #a5495a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-logo {
  width: 90px;
  vertical-align: middle;
}
.nav-center {
  text-align: center;
  vertical-align: middle;
}
.nav-center ul {
  list-style: none;
  display: flex;
}
.nav-center ul li a {
  margin: 0 25px;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 80px;
  color: #ff6b84;
  /* transition: all 0.3s; */
  background-image: linear-gradient(#ff6b84, #ff6b84);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}
/* .nav-center ul li:hover,
.nav-center ul li:visited {
  font-weight: bold;
} */
.nav-center ul li a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
.nav-icon {
  line-height: 80px;
  padding-left: 40px;
  /* margin-top: 15px; */
  display: inline-block;
}
.nav-icon i {
  vertical-align: middle;
  color: #c05063;
}

/* Main > Top */
.top-wrapper {
  background-color: rgba(255, 239, 238, 255);
  padding-bottom: 140px;
}
.top {
  display: flex;
}
.top-left {
  width: 60%;
}
.tl-item {
  margin-top: 70px;
  color: #334750;
}
.tl-item-wrapper {
  width: 70%;
}
.tl-item h1 {
  font-size: 2.5em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.tl-item p {
  line-height: 1.6em;
}
.tl-item h3 {
  margin-top: 40px;
  letter-spacing: 0.1em;
}
.top-right {
  width: 40%;
}
.tl-btn a {
  display: block;
  background-color: #ff6b84;
  color: rgba(255, 239, 238, 255);
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 0px 10px 1px #ff6b84;
  text-align: center;
  transition: all 0.3s;
}
.tl-btn a:hover {
  background-color: rgba(255, 239, 238, 255);
  box-shadow: 0 0px 10px 1px #d897a3;
  color: #ff6b84;
  img {
    filter: invert(67%) sepia(82%) saturate(1856%) hue-rotate(300deg) brightness(99%) contrast(104%);
  }
}
.tl-btn i {
  vertical-align: middle;
}
